.players {

    &--sort {
        margin-right: .5rem;
        margin-bottom: 1rem;
    }

    // &--table {
    //     padding: 10rem 5rem;
    // }

    &--data,
    th,
    td {
        font-size: 1.5rem;
        padding: .5rem;
    }
}